{% extends "parent.html" %}
{% load static %}

{% block style %}
<!-- overview stylefile -->
<link rel="stylesheet" href="{% static 'dashboard/css/overview.css' %}">
<style>
    body {
        overflow-x: hidden;
    }
    .sidebar {
        height: 100vh;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar text-white p-3">
            <h4>Admin dashboard</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#overview" onclick="showContent('overview')">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#usermanagement" onclick="showContent('usermanagement')">User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#projectmanagement" onclick="showContent('projectmanagement')">Project Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#statistics" onclick="showContent('statistics')">Statistics</a>
                </li>
            </ul>
        </nav>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
            <div id="overview" class="content-section">
                {% include "admin_dashboard_components/overview_component.html"  %}
            </div>
            <div id="usermanagement" class="content-section d-none">
              {% include "admin_dashboard_components/user_management.html" %}
            </div>
            <div id="projectmanagement" class="content-section d-none">
                <h2>Project Management</h2>
                <p>We provide Django development, AI integrations, and more.</p>
            </div>
            <div id="statistics" class="content-section d-none">
                <h2>Statistics</h2>
                <p>we show statistics here</p>
            </div>
        </main>
    </div>
</div>




<!-- helper modals and js logic sharable between blocks -->
   <!-- all the modal below are hidden by default  -->
<!--userDetails modal -->
<div class="modal fade " id="userDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="text-center mb-4">
            <img id="modal-picture" class="rounded-circle img-thumbnail" width="120" height="120" style="object-fit: cover; aspect-ratio: 1/1 ;">
            <h5 class="mt-3" id="modal-fullname"></h5>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label text-muted small">First Name</label>
              <p class="mb-0" id="modal-fname"></p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label text-muted small">Last Name</label>
              <p class="mb-0" id="modal-lname"></p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label text-muted small">Email</label>
              <p class="mb-0" id="modal-email"></p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label text-muted small">Phone</label>
              <p class="mb-0" id="modal-phone"></p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label text-muted small">Birthdate</label>
              <p class="mb-0" id="modal-birthdate"></p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label text-muted small">Account Status</label>
              <p class="mb-0" id="modal-status"></p>
            </div>
            <div class="col-md-12 mb-3">
              <label class="form-label text-muted small">Facebook Account</label>
              <p class="mb-0" id="modal-facebook"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary">Edit User</button>
        </div>
      </div>
    </div>
  </div>
  


  <!-- userDonation modal  -->
  <div class="modal fade " id="userDonationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User Donation Hisotry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="text-center mb-4">
            <img id="modal-pictureDonation" class="rounded-circle img-thumbnail" width="120" height="120" style="object-fit: cover; aspect-ratio: 1/1 ;">
            <h5 class="mt-3" id="modal-fullname"></h5>
          </div>
          <div class="row">

                <label class="form-label text-muted small">First Name</label>
                <p class="mb-0" id="modal-donation-data"></p>

          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary">Edit User</button>
        </div>
      </div>
    </div>
  </div>

  <!-- #################################### -->
  
  


  
  <!-- javascript to fill in  the modal attribute values from the button attributes -->
  <script>
    document.getElementById('userDetailModal').addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
    
      // Extract data from data-* attributes
      const fname = button.getAttribute('data-user-fname');
      const lname = button.getAttribute('data-user-lname');
      const email = button.getAttribute('data-user-email');
      const phone = button.getAttribute('data-user-phone');
      const birthdate = button.getAttribute('data-user-birthdate');
      const picture = button.getAttribute('data-user-picture');
      const active = button.getAttribute('data-user-active') === 'True';
      const facebook = button.getAttribute('data-user-facebook');
    
      // Fill modal content
      document.getElementById('modal-picture').src = picture;
      document.getElementById('modal-fullname').textContent = `${fname} ${lname}`;
      document.getElementById('modal-fname').textContent = fname;
      document.getElementById('modal-lname').textContent = lname;
      document.getElementById('modal-email').textContent = email;
      document.getElementById('modal-phone').textContent = phone;
      document.getElementById('modal-birthdate').textContent = birthdate;
      document.getElementById('modal-facebook').textContent = facebook;
    
      // Badge for active email
      const status = document.getElementById('modal-status');
      status.innerHTML = active
        ? '<span class="badge bg-success">Email Verified</span>'
        : '<span class="badge bg-warning text-dark">Email Unverified</span>';
    });
////////////////////////// donation history modal 
document.getElementById('userDonationModal').addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
    
      // Extract data from data-* attributes
      const donation = button.getAttribute('data-user-donationHistory');
      const picture = button.getAttribute('data-user-picture');
      const userid = button.getAttribute('data-user-id');
      console.log("hiiiiiiiiiiiiiiiiiiiiiiiiiiii");
      console.log(donation);
      // Fill modal content
      
      document.getElementById('modal-pictureDonation').src = picture;
      document.getElementById('modal-donation-data').textContent = donation;
    //   document.getElementById('modal-donation-data').textContent = donation;
      
});


    </script>
{% endblock %}

{% block js %}
<script>
    function showContent(id) {
        document.querySelectorAll('.content-section').forEach(section => {
            section.classList.add('d-none');
        });
        document.getElementById(id).classList.remove('d-none');
    }
</script>
{% endblock %}