

<h2>Reports</h2>

<!-- Recent Projects -->
<div class="row container-fluid">
    <div class="card">
      <div class="card-header d-flex justify-content-between ">
        <div class="h3 font-weight-bold">Checking Reports</div>
        <div class="mx-4">Total Reports: {{total_reports}}</div>

      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-sm mb-0">
            <thead class="table-light">
              <tr>
                <th class="text-center" style="width: 18%">Report ID</th>
                <th class="text-center" style="width: 18%">User name</th>
                <th class="text-center" style="width: 18%">Date</th>
                <th class="text-center" style="width: 18%">Report On</th>
                <th class="text-center" style="width: 18%">Status</th>
                <th class="text-center" style="width: 10%">check</th>
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
              <tr>
                <td class="text-center" >{{ report.id }}</td>
                <td class="text-center" >{{ report.user.fname }} {{ report.user.lname }}</td>
                <td class="text-center" >{{ report.created_at|date:"M d, Y" }}</td>
                {% if report.get_report_type_display == 'Project' %}
                <td class="text-center">
                  <span class="badge bg-success w-50">{{ report.get_report_type_display}}</span>

                </td>
                {% else %}
                <td class="text-center" >
                  <span class="badge bg-info w-50">{{ report.get_report_type_display}}</span>
                </td  >
                {% endif %}

                {% if report.is_resolved  %}
                <td class="text-center" >
                  <span class="badge bg-success w-50">Resolved</span>

                </td >
                {% else %}
                <td class="text-center" >
                  <span class="badge bg-warning w-50">Pending </span>
                </td>
                {% endif %}

              <td class="text-center">
                  <a href="{% url 'report_detail' report.id %}" class="btn btn-outline-dark">Check</a>
              </td>
              {% empty %}
              <tr class="text-center"  >
                <td colspan="4" class="text-center">All Customers are satisfied!</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
